# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
node_modules
dist

*.iml

build

package-lock.json