<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cap.twitter.plugin">
    <uses-permission android:name = "android.permission.INTERNET"/>

    <application>
        <activity android:name="cap.twitter.plugin.TwitterActivity">
        </activity>
    </application>

</manifest>